body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(135deg, #4192f1, #000000, #a9ccff);
    color: #000000;
}


.account-details-container {
    padding: 30px;
    min-height: 100vh;
    border: rgba(255,2,2,0) solid 1px ;
    border-radius: 30px;
    background: linear-gradient(135deg, #4192f1, #000000, #a9ccff);
    background-size: 200% 200%;
    animation: breathe 12s ease infinite;
}

@keyframes breathe {
    0% { background-position: 0 0; }
    50% { background-position: 100% 100%; }
    100% { background-position: 0 0; }
}


.account-card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    margin-bottom: 20px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.account-details-container {
    background: linear-gradient(135deg, #4192f1, #000000, #a9ccff);
    animation: breathe 12s ease infinite;
    color: #ffffff;
    border: 1px solid rgb(255, 255, 255);
    padding: 20px;
    border-radius: 14px;
    box-shadow: 0 0 12px rgb(138, 184, 236);
    margin-bottom: 30px;
}

.account-card {
    background: linear-gradient(135deg, #000000, #a9ccff);
    color: #ffffff;
}

.account-card p {
    color: #ffffff;
}

.account-card p strong {
    color: #ffffff;
}


.actions {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.btn {
    padding: 10px 16px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
}

.btn-blue {
    background: #007bff;
    color: white;
}

.btn-green {
    background: #28a745;
    color: white;
}

.btn-gray {
    background: #6c757d;
    color: white;
}

.btn-back {
    background: #444;
    color: white;
    width: fit-content;
    padding: 10px 20px;
}

.btn {
    padding: 10px 18px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.25s ease;
    border: none;
}


.btn-blue:hover {
    background: linear-gradient(135deg, #4192f1, #000000, #a9ccff);
    color: white;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}

.btn-gray:hover {
    background: linear-gradient(135deg, #4192f1, #000000, #a9ccff);
    color: white;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}

.btn-green:hover {
    background: linear-gradient(135deg, #4192f1, #000000, #a9ccff);
    color: white;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}

.btn-danger:hover {
    background: linear-gradient(135deg, #4192f1, #000000, #a9ccff);
    color: white;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
}
