:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

form {
    /*display: flex;*/
    /*flex-direction: column;*/
    align-items: center;
    width: 100%;
}

input {
    width: 100%;
    margin-bottom: 10px;
}

button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
    margin: 10px;
}

button:hover {
    background: linear-gradient(135deg, #4192f1, #000000, #a9ccff);
}

a:hover {
    color: #fff;
}

.error-message {
    background: linear-gradient(135deg, #4192f1, #000000, #a9ccff);
    color: #b91c1c;      /* dark red text */
    border: 1px solid #fca5a5;
    padding: 12px 15px;
    border-radius: 6px;
    margin-top: 15px;

    font-size: 14px;
    font-weight: 500;

    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    animation: fadeIn 0.3s ease-in-out;
}

/* Smooth appearance */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-5px); }
    to   { opacity: 1; transform: translateY(0); }
}