/* ===================== */
/*     GLOBAL STYLE      */
/* ===================== */

body {
    font-family: "Inter", Arial, sans-serif;
    background-color: #f5f7fa;
    margin: 0;
    padding: 25px;
}

/* Titre principal */
h1 {
    margin-bottom: 8px;
    font-size: 26px;
    font-weight: 600;
    color: Black;
}

/* Sous-titres */
h2, p {
    font-weight: 600;
    color: Black;
    margin-bottom: 6px;
}



/* ===================== */
/*        INPUTS         */
/* ===================== */

input,
textarea {
    background: #fff;
    border: 1px solid #d1d5db;
    border-radius: 10px;
    font-size: 16px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    transition: 0.2s ease;
}

/* Focus glow */
input:focus,
textarea:focus {
    outline: none;
    border-color: #6366f1;
    box-shadow: 0 0 6px rgba(99, 102, 241, 0.25);
}

/* ===== SOMME ===== */
.somme_input {
    font-size: 20px;
    padding: 12px;
    margin-bottom: 20px;
    color: Black;
}


/* ===== IBAN (titre + input côte à côte) ===== */

.IBAN {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.iban_title {
    font-size: 20px;
    min-width: 80px;
}

.iban_input {
    flex: 1;
    font-size: 18px;
    padding: 10px 12px;
    color: Black;
}

/* ===== NOTE ===== */

.note_text {
    min-height: 130px;
    resize: vertical;
    color: Black;
}



/* ===================== */
/*        BUTTONS        */
/* ===================== */

.Button_submit {
    display: inline-block;
    margin-top: 25px;
    padding: 12px 30px;
    background: linear-gradient(135deg, #6366f1, #4f46e5);
    color: white;
    border: none;
    font-size: 18px;
    border-radius: 12px;
    cursor: pointer;
    font-weight: 600;
    transition: 0.25s ease;
}

/* hover */
.Button_submit:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 12px rgba(99, 102, 241, 0.35);
}

/* click */
.Button_submit:active {
    transform: translateY(0px);
    box-shadow: none;
}


.section-label{
    color: black;
    font-size: 50px;
}


/* Bannière d'erreur */
.error-banner {
    background-color: #f8d7da; /* rouge clair */
    color: #721c24;             /* texte rouge foncé */
    padding: 10px 20px;
    margin-bottom: 15px;
    border: 1px solid #f5c6cb;
    border-radius: 5px;
    text-align: center;
}

/* Bannière de succès */
.success-banner {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #d4edda;
    color: #155724;
    padding: 10px 20px;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
    z-index: 1000;
}
