name: CI - Build & Test Frontend React

on:
  push:
    branches:
      - main
      - master

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build Docker Frontend
        run: docker build -t bank-front .

