name: CI - Build & Test Frontend React

on:
  push:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build Docker Frontend
        run: docker build -t bank-front .

      - name: Run frontend tests
        run: docker run --rm bank-front npm test -- --watch=false
